/**
* I think element-ui's default theme color is too light for long-term use.
* So I modified the default color and you can modify it to your liking.
**/

/* theme color */
$--color-primary: #409EFF;
$--color-success: #67C23A;
$--color-warning: #E6A23C;
$--color-danger:#F56C6C;
$--color-info: #909399;

$--button-font-weight: 400;

$--color-text-regular: #000;
$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;

/* Table
-------------------------- */
$--table-font-color: $--color-text-regular !default;
$--table-header-font-color: $--color-text-regular !default;
$--table-header-background-color: $--border-color-lighter !default;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

